.project {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
  background-color: brown;
  padding: 15px;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.gitHub {
  color: white;
}

.skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}