.h_wrap {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grad-color);
  background-size: 300% 300%;
  position: fixed;
  top: 10px;
  left: 10%;
  transition: .3s;
  width: 80%;
  padding: 3px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  animation: var(--grad-animation);
  opacity: 1;
}

.nav_up {
  transition: .3s;
  opacity: 0;
  top: -150px;
}

.flexElem {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #FFF;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
}

h1 {
  font-family: artFont;
  font-size: 20px;
  position: relative;
  white-space: nowrap;
}

h1::before {
  transform: rotate(38deg);
  position: absolute;
  content: '';
  left: -108px;
  top: -5px;
  background-image: url('../../assets/images/stamp_icon.svg');
  background-repeat: no-repeat;
  filter: invert();
  width: 150px;
  height: 150px;
}

h1::after {
  transform: rotate(30deg);
  position: absolute;
  content: 'Front-End';
  font-size: 12px;
  left: -72px;
  top: 40px;

}

.lang_wrap {
  user-select: none;
  cursor: pointer;
  position: relative;
  padding: 5px;
  display: flex;
  font-weight: bolder;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color3);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.selectedLng {
  position: absolute;
  color: rgb(0, 0, 0);
  padding: 2px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: .2s ease-in-out;
}

.langItem {
  opacity: .5;
}

#navBar {
  display: flex;
  gap: 20px;
}

#contactsWrap {
  z-index: 10;
  user-select: none;
  position: fixed;
  top: 45%;
  display: flex;
  transition: .2s;
}

#contacts {
  width: 50px;
  height: 180px;
  background-color: var(--yellow);
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contImage {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#contactsBtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30px;
  height: 100px;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 26px;
  flex-direction: column;
  transition: .2s;
}

#contactsBtn:hover {
  border: 2px solid var(--color3);
}

#contactText {
  font-size: 15px;
  transform: rotate(-90deg);
}

#btns {
  display: flex;
  gap: 20px;
}

#btns>a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

#btns>a:hover {
  color: var(--color1);
}

#burger {
  display: none;
}

#bugerMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  padding: 20px;
  z-index: 100;
  top: 75px;
  left: 10%;
}

.bar {
  width: 30px;
  height: 5px;
  transition: .5s;
}

.bar:nth-child(1) {
  border-top-right-radius: 5px;
  background-color: var(--color1);
}

.bar:nth-child(2) {
  background-color: var(--color2);
}

.bar:nth-child(3) {
  background-color: var(--color1);
  border-bottom-left-radius: 5px;
}

@media (max-width: 900px) {
  header>h1 {
    display: none;
  }
}

@media (max-width: 700px) {
  #navBar {
    display: none;
  }

  #burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 400px) {
  .h_wrap{
    width: 95%;
    left: 2.5%;
  }
  header{
    padding: 5px 10px;
  }

  #bugerMenu{
    top: 60px;
    left: 3%;
  }
}