.skillWrap {
  display: flex;
  gap: 10px;
  height: 40px;
}

.verticalLine {
  width: 4px;
  background-color: var(--color1);
  -webkit-box-shadow: 0px 0px 10px 0px var(--color1);
  -moz-box-shadow: 0px 0px 10px 0px var(--color1);
  box-shadow: 0px 0px 10px 0px var(--color1);
}

.skillBox {
  display: flex;
  align-items: center;
}

.leftSide {
  width: 120px;
  justify-content: flex-end;
}

.rightSide {
  width: 100px;
  justify-content: flex-start;
}