:root {
  --grad-color: linear-gradient(to right, red, purple);
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

.h_wrap {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grad-color);
  position: fixed;
  top: 10px;
  left: 10%;
  transition: top 0.2s ease-in-out;
  width: 80%;
  padding: 3px;
  border-radius: 13px;
}

header {
  width: 100%;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
}

.nav_up {
  top: -45px;
}

.space {
  height: 120vh;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}