:root {
  --grad-color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --color1:#ee7752;
  --color2:#e73c7e;
  --color3: #23a6d5;
  --color4: #23d5ab;
  --grad-animation: gradient 5s ease infinite;
  --font: "Roboto Condensed", sans-serif;
}

* {
  font-family: var(--font);
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

.item {
  width: 200px;
  height: 200px;
  background: #FFF;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}