:root {
  --color1: #ee7752;
  --color2: #e73c7e;
  --color3: #23a6d5;
  --color4: #23d5ab;
  --color1-filter: brightness(0) saturate(100%) invert(71%) sepia(51%) saturate(5300%) hue-rotate(329deg) brightness(103%) contrast(87%);
  --color2-filter:brightness(0) saturate(100%) invert(36%) sepia(53%) saturate(1724%) hue-rotate(303deg) brightness(92%) contrast(98%);
  --color3-filter: brightness(0) saturate(100%) invert(60%) sepia(99%) saturate(1242%) hue-rotate(161deg) brightness(86%) contrast(94%);
  --color4-filter: brightness(0) saturate(100%) invert(58%) sepia(89%) saturate(361%) hue-rotate(116deg) brightness(100%) contrast(94%);
  --grad-color: linear-gradient(-45deg, var(--color1), var(--color2), var(--color3), var(--color4));
  --grad-animation: gradient 5s ease infinite;
  --font: "Roboto Condensed", sans-serif;
}

@font-face {
  font-family: artFont;
  src: url('../src/assets/fonts/bradobrei.woff2');
}

* {
  font-family: var(--font);
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  z-index: -100;
}

.item {
  width: 200px;
  height: 200px;
  background: #FFF;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.space{
  height: 300vh;
}