#wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

#dog {
  line-height: 50px;
  user-select: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  animation: fly 20s linear infinite;
  filter: var(--color1-filter);
  text-shadow: 0px 2px 10px var(--color1);
}

@keyframes fly {
  0% {
    top: 400px;
    left: -200%;
  }

  30% {
    transform: rotate(90deg);
  }

  100% {
    top: 100px;
    left: 100%;
    transform: rotate(360deg);
  }
}